<!DOCTYPE html>
<html>
    <!-- HTML Header -->
    <head>
      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Planogram</title>
        <meta name="description" content="An editor for defining planograms: visual displays of merchandise." />
        <meta charset="UTF-8">
        
        <!-- jQuery-UI CSS -->
        <% include ../partials/jQuery-ui-css %>
        <!-- jQuery -->
        <% include ../partials/jQuery %>
        <!-- jQuery-UI -->
        <% include ../partials/jQuery-ui %>
        
        <link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
        
        <!-- go.js file -->
        <% include ../partials/gojs %>
        
        <!-- Javascript File-->
        <script id="code" src="/javascript/main.js"></script>
        
    </head>
    
  
