<!DOCTYPE html>
<html>
    <!-- HTML Header -->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Planogram</title>
        <link rel="stylesheet" href="stylesheet.css" type="text/css">
    </head>
    <body>
  
