<% include ../partials/header %>

<body onload="init()">
  <div id="sample">
    <div style="width: 100%; display: flex; justify-content: space-between">
      <div style="width: 135px; margin-right: 2px; background-color: whitesmoke; border: solid 1px black">
        <div id="accordion">
          <h4>Small items</h4>
          <div>
            <div id="myPaletteSmall" style="width: 140px; height: 360px"></div>
          </div>
          <h4>Tall items</h4>
          <div>
            <div id="myPaletteTall" style="width: 140px; height: 360px"></div>
          </div>
          <h4>Wide items</h4>
          <div>
            <div id="myPaletteWide" style="width: 140px; height: 360px"></div>
          </div>
          <h4>Big items</h4>
          <div>
            <div id="myPaletteBig" style="width: 140px; height: 360px"></div>
          </div>
        </div>
      </div>
      <div id="myDiagramDiv" style="flex-grow: 1; height: 500px; border: solid 1px black"></div>
    </div>
    <div style="display: flex; overflow: hidden; white-space: nowrap"><strong>Scale = 1: <div contenteditable="true"> 1m</div></strong></div>
    <p>
      A <em>planogram</em> is a visual representation of a store's products or services, often used as a tool to maximize sales.
    </p>
    <p>
      Drag-and-drop "items" from the Palette onto "racks" in the Diagram.
      "Items" are implemented as Nodes; "racks" are implemented as Groups.
      Once items have been placed on a rack, they can be resized, if necessary.
    </p>
    <div>
      Diagram Model saved in JSON format, automatically updated after each transaction:
      <pre id="savedModel" style="height:250px"></pre>
    </div>
  </div>

<% include ../partials/footer %>